/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
# keep idea folder to see what causes intelliJ confusion for compiling the project
!/.idea
/.idea/workspace.xml
/.idea/emacs.xml
.idea/libraries
*.iws
*.iml
*.ipr

/stale_outputs_checked
/.mvn/wrapper/
.mvn/
/.idea/httpRequests/*.html
/.idea/httpRequests/*.json
/.idea/httpRequests/*log.http
/src/main/resources/private.yml
/src/main/resources/private.properties
