/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
# keep idea folder to see what causes intelliJ confusion for compiling the project
!/.idea
/.idea/workspace.xml
.idea/libraries
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/stale_outputs_checked
/.mvn/wrapper/
.mvn/
